body{
  font-family:Arial,Helvetica,Sans-shrif;
}

#promo{
  text-align:center;
  padding:40px;
  background:url(https://pixabay.com/static/uploads/photo/2016/07/21/05/49/spot-1531921_960_720.jpg) no-repeat;
  background-size:cover;
}

@media (max-width:991px) {
  #promo{
    padding:20px;
  }
}

#promo .jumbotron{
  border-radius:20px;
  padding:40px;
  background-color:rgba(255,255,255,0.75);
  max-width:800px;
  margin:0 auto;
}

@media (max-width:1199px) {
  #promo .jumbotron{
    padding:20px;
  }
}

.site-selection{
  padding:20px 0;
  text-align:center;
}

.site-selection h1{
  padding:20px;
  font-weight:normal;
  margin-bottom:20px;
}

#welecome p{
  max-width:800px;
  font-size:20px;
  margin:0 auto;
}

